params {
    figures_dir = "${projectDir}/figures"
}

process {
    withLabel: 'simulation' {
        memory = '8 GB'
    }
    withLabel: 'plotting' {
        cpus   = 1
        memory = '4 GB'
    }
}

profiles {
    local {
        process.executor = 'local'
        process {
            withLabel: 'simulation' {
                cpus = 8
            }
        }
    }
    hpc {
        process {
            withLabel: 'simulation' {
                cpus = 16
            }
        }
        includeConfig 'vsc_calcua.config'
    }
}
